.mb-10{
	margin-bottom:10px;
}
.mb-20{
	margin-bottom:20px;
}
.mb-30{
	margin-bottom:30px;
}
.mb-40{
	margin-bottom:40px;
}
.mt-0{
	margin:0 !important;
}
.img-responsive{
	width:100%;
	display:block;
}
.nk-form label{
	font-weight:400;
	text-align:left;
	font-size: 14px;
}
.nk-feature-1 .nk-feature-cont .nk-btn, .nk-feature-2 .nk-feature-cont .nk-btn{
	margin-top: 35px;
}
.white{
	color:white;
	border-right-color:white;
}